Repository openstack/requirements: changes, and which Zuul jobs are due for each by the changed paths.
All: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, build-wheel-cache-ubuntu-bionic, build-wheel-cache-ubuntu-focal, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, build-wheel-cache-ubuntu-focal-arm64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  requirements-cross-test: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-aodh-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-barbican-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ceilometer-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-cinder-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-designate-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-glance-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-heat-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-horizon-npm: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-keystone-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-kuryr-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-ironic-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-magnum-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-manila-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-masakari-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-mistral-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-neutron-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-functional: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-functional-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-pep8: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-nova-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-placement-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osvif-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-octavia-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-swift-py312: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-osc-tox-docs: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  cross-watcher-py3: any of: upper-constraints.txt, .zuul.d/cross-jobs.yaml
  requirements-tox-babel: any of: ^babel-test/.*, ^tox.ini, ^upper-constraints.txt
  requirements-tox-py27-check-uc: any of: ^upper-constraints.*txt$
  requirements-tox-py35-check-uc: any of: ^upper-constraints.*txt$
  requirements-check: (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, ^doc/requirements.txt$, playbooks/requirements-check.yaml, ^lower-constraints.txt$) or (any of: ^tools/.*-requires$, ^.*requirements.txt$, ^.*requirements-py[2,3].txt$, playbooks/requirements-check.yaml)
  build-wheel-cache-ubuntu-bionic: any of: bindep.txt
  build-wheel-cache-ubuntu-focal: any of: bindep.txt
  tempest-full-py3: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  requirements-tox-py38-check-uc-aarch64: any of: bindep.txt, upper-constraints.txt
  build-wheel-cache-ubuntu-focal-arm64: any of: bindep.txt
  cross-nova-py36: any of: ^upper-constraints.txt$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$

update constraint for python-mistralclient to new release 6.0.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-manilaclient to new release 5.6.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-ironicclient to new release 5.13.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-ironic-inspector-client to new release 5.4.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-magnumclient to new release 4.9.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-vitrageclient to new release 5.3.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Update upper constraints for python-keystoneclient
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ceilometer to new release 24.0.1
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 25.3.1
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for ceilometer to new release 23.0.1
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

[pyroute2] Roll back to < 0.9 due to bug/2109396
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for openstacksdk to new release 4.7.1
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 25.5.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-glanceclient to new release 4.10.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for glance_store to new release 5.2.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for cliff to new release 4.11.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-zaqarclient to new release 4.1.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for aodhclient to new release 3.9.1
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for keystonemiddleware to new release 10.12.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for osc-lib to new release 4.2.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for python-openstackclient to new release 8.2.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Add a security warning about downstream reuse
  README.rst
  global-requirements.txt
  openstack_requirements/cmds/generate.py
Due: requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for heat-translator to new release 3.3.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Remove dead code
  openstack_requirements/project.py
  openstack_requirements/tests/test_project.py
  requirements.txt
Due: requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove dead code
  openstack_requirements/cmds/edit_constraint.py
  openstack_requirements/requirement.py
  openstack_requirements/tests/test_requirement.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove build-lower-constraints tool
  openstack_requirements/cmds/build_lower_constraints.py
  openstack_requirements/tests/test_build_lower_constraints.py
  setup.cfg
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove fix-lower-constraints.py script
  tools/fix-lower-constraints.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove lower-constraint management
  openstack_requirements/check.py
  openstack_requirements/project.py
  openstack_requirements/tests/test_check.py
  openstack_requirements/tests/test_project.py
  playbooks/files/project-requirements-change.py
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Remove check-python2-support tool
  openstack_requirements/cmds/check_py2.py
  setup.cfg
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

tox: Assorted changes
  test-requirements.txt
  tox.ini
Due: requirements-tox-babel, requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 25.5.1
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Update .gitreview for stable/2025.2
  .gitreview
Due: tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/2025.2
  tox.ini
Due: requirements-tox-babel, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

Update horizon cross-npm job to define a node_version
  .zuul.d/cross-jobs.yaml
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for horizon to new release 24.0.2
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Add valkey to requirements
  global-requirements.txt
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, requirements-check, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for kuryr-lib to new release 3.3.1
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

update constraint for neutron-lib to new release 3.22.0
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Bump pifpaf
  upper-constraints.txt
Due: requirements-cross-test, cross-aodh-py312, cross-barbican-py312, cross-ceilometer-py312, cross-cinder-py312, cross-designate-py312, cross-glance-py312, cross-heat-py312, cross-horizon-py312, cross-horizon-npm, cross-keystone-py312, cross-kuryr-py312, cross-ironic-py312, cross-magnum-py312, cross-manila-py312, cross-masakari-py312, cross-mistral-py312, cross-neutron-py312, cross-nova-functional, cross-placement-functional-py312, cross-nova-pep8, cross-nova-py312, cross-placement-py312, cross-osvif-py3, cross-octavia-py312, cross-swift-py312, cross-osc-tox-docs, cross-watcher-py3, requirements-tox-babel, requirements-tox-py27-check-uc, requirements-tox-py35-check-uc, tempest-full-py3, requirements-tox-py38-check-uc-aarch64, cross-nova-py36, tempest-pg-full, tempest-full-py3-opensuse15

Replace use of distutils.version
  global-requirements.txt
  openstack_requirements/requirement.py
Due: requirements-check, tempest-full-py3, tempest-pg-full, tempest-full-py3-opensuse15
